# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# Logs and databases
*.log
*.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Dependency directories
venv/
env/
lib/
